<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@booking.errors.count, "error") %> occured while creating your booking
    </h2>
    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>

<h1> Flight Details </h1>
<p> <%= @flight.flight_details  %> </p>

<h1>Passenger Details</h1>
  <p> Please enter details for each passenger </p>

<%= form_with model: @booking do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <div data-controller="passenger" data-passenger-target="parentDiv" id="parent-div">
    <div data-passenger-target="passengerAdditionWarning"></div>
    <div data-passenger-target="passengerRemovalWarning"></div>
    <template data-passenger-target="passengerForm">
      <%= f.fields_for :passengers, @booking.passengers.build, child_index: 'PASSENGER_RECORD' do |passenger_f|%>
        <%= field_set_tag "Passenger details" do%>
          <%= passenger_f.label :name %>
          <%= passenger_f.text_field :name %>
          <%= passenger_f.label :email %>
          <%= passenger_f.text_field :email %>
          <%= passenger_f.hidden_field :_destroy%>
          <%= button_tag "Remove Passenger", type: "button", data: { action: "passenger#removePassenger" }%>
        <% end %>
      <% end %>
    </template> <br>
    <%= button_tag "Add Passenger", type: "button", data: { action: "passenger#addPassenger" }%>
  </div>
  <br />
    <%= f.submit "Submit Details" %>
<% end %>

