<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@booking.errors.count, "error") %> occured while creating your booking
    </h2>
    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="h-screen flex flex-col">
  <section class="flex flex-col border-b-2 border-dashed border-black h-2/4 pb-4">
    <header class="flex border-b-2 w-full h-16 items-center px-3">
      <h1 class="flex-1 text-4xl font-bold">Flight Details</h1>
      <span class="flex gap-10 items-center">
        <h2 class="text-3xl font-bold"><%= @flight.departure_airport.city_name %></h2>
        <%= image_tag "airplane-outline.svg", alt: 'airplane', class: "h-8" %>
        <h2 class="text-3xl font-bold"><%= @flight.arrival_airport.city_name %></h2>
      </span>
    </header>
    <div class="grid w-full grid-rows-2 grid-cols-6 flex-auto px-3">
      <div class="flex col-span-2 items-center gap-2">
      <%= image_tag "globe-outline.svg", alt: 'company-logo', class: "h-12"%>
      <p class="font-bold text-2xl">FooBar Lines</p>
      <p class="text-2xl text-slate-600">FB | 4367</p>
      </div>
      <div class="col-start-1">
        <div>
          <p class="font-bold text-xl"><%= @flight.departure_time.strftime("%H:%M")%></p>
          <p class="font-bold"><%= @flight.departure_time.strftime("%a, %d %b %y")%> </p>
        </div>
        <div class="mt-1">
          <p class="text-slate-600">Terminal <%= rand(1...10) %><%=('A'..'Z').to_a.sample%></p> <%# Random ternimal number generator %>
          <p class="text-slate-600"><%= @flight.departure_airport.city_name %></p>
        </div>
      </div>
      <div class="flex flex-col items-center gap-1">
        <p class="tracking-wider text-center"><%= @flight.duration %></p>
        <span class="bg-green-300 w-24 rounded h-1"></span>
      </div>
      <div class="pl-3">
        <p class="font-bold text-xl"><%= @flight.arrival_time.strftime("%H:%M")%></p>
        <p class="font-bold"><%= @flight.arrival_time.strftime("%a, %d %b %y")%> </p>
        <div class="mt-1">
          <p class="text-slate-600">Terminal <%= rand(1...10) %><%=('A'..'Z').to_a.sample%></p> <%# Random ternimal number generator %>
          <p class="text-slate-600"><%= @flight.arrival_airport.city_name %></p>
        </div>
      </div>
      <div>
        <p class="font-bold text-l">BAGGAGE:</p>
        <p class="text-slate-600">ADULT</p>
      </div>
      <div>
        <p class="font-bold text-l">CHECK IN</p>
        <p class="text-slate-600">15 Kgs</p>
      </div>
      <div>
        <p class="font-bold text-l">CABIN</p>
        <p class="text-slate-600">7 Kgs</p>
      </div>
    </div>
  </section>

  <section class="flex-auto h-3/4">
    <div class="border-b-2 p-3 h-16">
      <h1 class="text-4xl font-bold">Passenger Details</h1>
    </div>

    <%= form_with model: @booking do |f| %>
      <%= f.hidden_field :flight_id, value: @flight.id %>
      <div data-controller="passenger" data-passenger-target="parentDiv" id="parent-div"
      class="border-2 border-black flex flex-col p-3 justify-content w-2/3">
        <div data-passenger-target="passengerAdditionWarning"></div>
        <div data-passenger-target="passengerRemovalWarning"></div>
        <template data-passenger-target="passengerForm" class="order-1">
          <%= f.fields_for :passengers, @booking.passengers.build, child_index: 'PASSENGER_RECORD' do |passenger_f|%>
            <%= field_set_tag "", class: "flex gap-10" do%>
              <div class="flex flex-col gap-2">
                <%= passenger_f.label :name %>
                <%= passenger_f.text_field :name, class:"appearance-none border-1 p-1 rounded" %>
              </div>
              <div class="flex flex-col gap-2">
                <%= passenger_f.label :email  %>
                <%= passenger_f.text_field :email, class:"appearance-none border-1 p-1 rounded" %>
              </div>
              <%= passenger_f.hidden_field :_destroy%>
              <%= button_tag "Remove Passenger", type: "button", data: { action: "passenger#removePassenger" }%>
            <% end %>
          <% end %>
        </template>
        <div class="flex gap-32 order-2 mt-5">
          <%= button_tag "Add Passenger", type: "button", data: { action: "passenger#addPassenger" }, class:"bg-slate-400 py-2 px-4 rounded text-xl font-bold text-white"%>
          <%= f.submit "Submit Details" %>
        </div>
      </div>
    <% end %>
  </section>
</div>
