<% if @booking.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@booking.errors.count, "error") %> occured while creating your booking
    </h2>
    <ul>
      <% @booking.errors.full_messages.each do |msg| %>
        <li> <%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="h-screen flex flex-col">
  <section class="border-2 border-black h-2/4">
    <div class="flex border-b-2 w-full h-16 items-center px-3">
      <h1 class="flex-1 text-4xl font-bold"> Flight Details </h1>
      <span class="flex gap-10 items-center">
        <h2 class="text-3xl font-bold"><%= @flight.departure_airport.city_name %></h2>
        <%= image_tag "airplane-outline.svg", alt: 'airplane', class: "h-8" %>
        <h2 class="text-3xl font-bold"><%= @flight.arrival_airport.city_name %></h2>
      </span>
    </div> 
    <p> <%= @flight.flight_details  %> </p>
  </section>

<section class="border-2 border-black flex-auto h-3/4">
<h1>Passenger Details</h1>
  <p> Please enter details for each passenger </p>

<%= form_with model: @booking do |f| %>
  <%= f.hidden_field :flight_id, value: @flight.id %>
  <div data-controller="passenger" data-passenger-target="parentDiv" id="parent-div">
    <div data-passenger-target="passengerAdditionWarning"></div>
    <div data-passenger-target="passengerRemovalWarning"></div>
    <template data-passenger-target="passengerForm">
      <%= f.fields_for :passengers, @booking.passengers.build, child_index: 'PASSENGER_RECORD' do |passenger_f|%>
        <%= field_set_tag "Passenger details" do%>
          <%= passenger_f.label :name %>
          <%= passenger_f.text_field :name %>
          <%= passenger_f.label :email %>
          <%= passenger_f.text_field :email %>
          <%= passenger_f.hidden_field :_destroy%>
          <%= button_tag "Remove Passenger", type: "button", data: { action: "passenger#removePassenger" }%>
        <% end %>
      <% end %>
    </template> <br>
    <%= button_tag "Add Passenger", type: "button", data: { action: "passenger#addPassenger" }%>
  </div>
  <br />
    <%= f.submit "Submit Details" %>
<% end %>
</section>
</div>
